{% import "extension/extension/tool/macros.twig" as forms %}
{% import "tool/legacy/components.twig" as legCom %}
<input type="hidden" name="apply" value="0"/>
<input type="hidden" name="setting[status]" value="{{ setting.status }}"/>
<ul nttabs class="nav nav-tabs">
    <li nttabs class="active"><a href="#tab-general" data-toggle="tab">
            <i class="fa fa-cogs text-primary"></i> {{ text_tab_general }}</a>
    </li>
    <li nttabs class=""><a href="#tab-order_status" data-toggle="tab">
            <i class="fa fa-link text-primary"></i> {{ text_payment_tab_order_status }}</a>
    </li>
    <li nttabs class=""><a href="#tab-view" data-toggle="tab">
            <i class="fa fa-globe text-primary"></i> {{ text_payment_tab_view }}</a>
    </li>
    <li nttabs class=""><a href="#tab-sandbox" data-toggle="tab">
            <i class="fa fa-bug text-warning"></i> {{ text_tab_sandbox }}</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tab-general">


        {{ legCom.GroupLabelInput(
                {'name':'setting[merchant_id]', 'value': setting.merchant_id},
                {'label':text_merchant_id}, {'required':true}) }}


        {{ legCom.GroupLabelInput(
                {'name':'setting[public_key]', 'value': setting.public_key, 'type': 'textarea'},
                {'label':text_merchant_public_key}, {'required':true}) }}      

        {{ legCom.GroupLabelInput(
                {'name':'setting[private_key]', 'value': setting.private_key, 'type': 'textarea'},
                {'label':text_merchant_private_key}, {'required':true}) }}

        <div class="form-group">
            <label class="col-sm-2 control-label">{{ text_send_info_customer_status }}</label>
            <div class="col-sm-2">
                {{ forms.onoffswitch('setting[send_info][customer]', setting.send_info.customer) }}
            </div>

            <label class="col-sm-2 control-label">{{ text_send_info_product_status }}</label>
            <div class="col-sm-2">
                {{ forms.onoffswitch('setting[send_info][product]', setting.send_info.product) }}
            </div>
        </div>

        {{ forms.GroupSelect(geo_zones, 'geo_zone_id', 'name', 'setting[geo_zone]',
                setting.geo_zone, text_geo_zone, text_help_geo_zone) }}

        {{ forms.GroupInput('setting[sort_order]', setting.sort_order, 
        text_sort_order, '', '0-99999') }} 

    </div>

    <div class="tab-pane" id="tab-order_status">

        <div class="hide"> 
            {{ forms.Group_onoffswitch('setting[order_status][system]', setting.order_status.system, 
            text_payment_tab_order_status_system, text_help_payment_tab_order_status_system) }}
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_init }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][init]', setting.order_status.init) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_pending }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][pending]', setting.order_status.pending) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info complete required">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_success }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses_, 'order_status_id', 'name', 'setting[order_status][success]', setting.order_status.success, '', true) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info failed required">
                    <div class="panel-heading ">
                        <label class="control-label">{{ text_payment_tab_order_status_failed }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses_, 'order_status_id', 'name', 'setting[order_status][failed]', setting.order_status.failed, '', true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="tab-view">

        {{ forms.Grouponoffswitch('setting[view][title_default]', setting.view.title_default, text_payment_tab_view_title_default) }}

        {{ legCom.GroupLabelInput(
                {'name':'setting[view][%s][title]','value':{'key_name':'title' ,'data':setting.view.title}, 'langs':languages}, 
                {'label':text_payment_tab_view_title}, {}) }}

        {{ forms.Grouponoffswitch('setting[view][icon]', setting.view.icon, text_payment_tab_view_icon) }}

    </div>
    <div class="tab-pane" id="tab-sandbox">

        <div class="form-group">
            <div class="warning col-sm-12">
                <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> 
                    {{ text_tab_sandbox_help_test }}
                </div>
            </div>
        </div>


        {{ forms.group_onoffswitch('setting[sandbox][status]', setting.sandbox.status, 
            text_tab_sandbox_status) }}  

        {{ forms.group_onoffswitch('setting[sandbox][log]', setting.sandbox.log, 
            text_tab_sandbox_log_status ) }}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ text_tab_sandbox_cards }}</label>
            <div class="col-sm-10">
                <div class="well well-sm">
                    card=4242424242424242  exp=any cvv=any  3ds=Yes result=success<br>
                    card=5454545454545454  exp=any cvv=any  3ds=Yes result=success<br>
                    card=4111111111111111  exp=any cvv=any  3ds=No result=success<br>
                    card=4200000000000000  exp=any cvv=any  3ds=Yes result=rejected<br>
                    card=5105105105105100  exp=any cvv=any  3ds=Yes result=rejected<br>
                    card=4444333322221111  exp=any cvv=any  3ds=No result=rejected<br>
                    card=5100000020002000  exp=any cvv=any  3ds=No result=rejected<br>
                    card=4000000000000044  exp=any cvv=any  3ds=No result=insufficient-funds<br>
                </div>
            </div>
        </div>


        
        {{ viewLog }}
        {#<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i>{{ text_tab_sandbox_log_title }}</h3>
                <div class="pull-right">
                    <a id="log_refresh" onclick="nt_log_reload(this, 'error')" data-toggle="tooltip" class="btn btn-warning">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a onclick="nt_log_downloader(this, 'error')" target="_blank" data-toggle="tooltip" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                    </a>
                        <a onclick="nt_log_clear(this, 'error')" data-toggle="tooltip" class="btn btn-danger">
                        <i class="fa fa-eraser"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <textarea wrap="off" rows="15" readonly class="form-control"></textarea>
            </div>
        </div>#}


    </div>
</div>