{% import "extension/extension/tool/macros.twig" as forms %}
{% import "tool/legacy/components.twig" as legCom %}
<input type="hidden" name="apply" value="0"/>
<input type="hidden" name="setting[status]" value="{{ setting.status }}"/>
<ul nttabs class="nav nav-tabs">
    <li nttabs class="active"><a href="#tab-general" data-toggle="tab">
            <i class="fa fa-cogs text-primary"></i> {{ text_tab_general }}</a>
    </li>
    <li nttabs class=""><a href="#tab-order_status" data-toggle="tab">
            <i class="fa fa-link text-primary"></i> {{ text_tab_order_status }}</a>
    </li>
    <li nttabs class=""><a href="#tab-view" data-toggle="tab">
            <i class="fa fa-globe text-primary"></i> {{ text_tab_view }}</a>
    </li>
    <li nttabs class=""><a href="#tab-sandbox" data-toggle="tab">
            <i class="fa fa-bug text-warning"></i> {{ text_tab_sandbox }}</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tab-general">
        
        
        {{ legCom.GroupLabelInput(
                {'name':'setting[merchant_id]', 'value': setting.merchant_id},
                {'label':text_merchant_id}, {'required':true}) }}
        
        
        {{ legCom.GroupLabelInput(
                {'name':'setting[public_key]', 'value': setting.public_key, 'type': 'textarea'},
                {'label':text_merchant_public_key}, {'required':true}) }}      
        
        {{ legCom.GroupLabelInput(
                {'name':'setting[private_key]', 'value': setting.private_key, 'type': 'textarea'},
                {'label':text_merchant_private_key}, {'required':true}) }}
        
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ text_send_info_customer_status }}</label>
            <div class="col-sm-2">
                {{ forms.onoffswitch('setting[send_info][customer]', setting.send_info.customer) }}
            </div>

            <label class="col-sm-2 control-label">{{ text_send_info_product_status }}</label>
            <div class="col-sm-2">
                {{ forms.onoffswitch('setting[send_info][product]', setting.send_info.product) }}
            </div>
        </div>

        {{ forms.GroupSelect(geo_zones, 'geo_zone_id', 'name', 'setting[geo_zone]',
                setting.geo_zone, text_geo_zone, text_help_geo_zone) }}

        {{ forms.GroupInput('setting[sort_order]', setting.sort_order, 
        text_sort_order, '', '0-99999') }} 

    </div>

    <div class="tab-pane" id="tab-order_status">

        <div class="hide"> 
            {{ forms.Group_onoffswitch('setting[order_status][system]', setting.order_status.system, 
            text_payment_tab_order_status_system, text_help_payment_tab_order_status_system) }}
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_init }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][init]', setting.order_status.init) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_pending }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][pending]', setting.order_status.pending) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info complete required">
                    <div class="panel-heading">
                        <label class="control-label">{{ text_payment_tab_order_status_success }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses_, 'order_status_id', 'name', 'setting[order_status][success]', setting.order_status.success, '', true) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info failed required">
                    <div class="panel-heading ">
                        <label class="control-label">{{ text_payment_tab_order_status_failed }}</label>
                    </div>
                    <div class="panel-body">
                        {{ forms.Select(order_statuses_, 'order_status_id', 'name', 'setting[order_status][failed]', setting.order_status.failed, '', true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="tab-view">
        
        {{ legCom.GroupLabelInput(
                {'name':'setting[view][%s][title]','value':{'key_name':'title' ,'data':setting.view.title}, 'langs':languages}, 
                {'label':text_payment_tab_view_title}, {}) }}

        {#<div class="form-group">
            <label class="col-sm-2 control-label">{{ text_translate_description }}</label>
            <div class="col-sm-10">
                {% for language in languages %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}">
                        </span>
                        <input name="setting[translate][{{ language.language_id }}][description]" 
                               value="{{ setting.translate[language.language_id].name }}" class="form-control">
                    </div>
                {% endfor %}                
            </div>
        </div>#}

        <div class="form-group">
            <label class="col-sm-2 control-label"> {{ text_view_icon_status }} 
                <img src="/image/payment/{{ code }}.png" height="32">
            </label>
            <div class="col-sm-2">
                {{ forms.onoffswitch('setting[view][icon]', setting.view.icon) }}                
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-sandbox">

        {{ forms.group_onoffswitch('setting[sandbox][status]', setting.sandbox.status, 
            text_sandbox_status, text_help_sandbox_status, '', true) }}  

        {{ forms.group_onoffswitch('setting[sandbox][log]', setting.sandbox.log, 
            text_sandbox_log, text_help_sandbox_log, '', true) }}      


        

    </div>
</div>
<style>
</style>


