{% import "extension/extension/tool/macros.twig" as forms %}
<input type="hidden" name="apply" value="0"/>
<input type="hidden" name="setting[status]" value="{{ setting.status }}"/>
<ul nttabs class="nav nav-tabs">
    <li nttabs class="active"><a href="#tab-general" data-toggle="tab">
            <i class="fa fa-cogs text-primary"></i> {{ text_tab_general }}</a>
    </li>
    <li nttabs class=""><a href="#tab-order_status" data-toggle="tab">
            <i class="fa fa-link text-primary"></i> {{ text_tab_order_status }}</a>
    </li>
    <li nttabs class=""><a href="#tab-view" data-toggle="tab">
            <i class="fa fa-globe text-primary"></i> {{ text_tab_view }}</a>
    </li>
    <li nttabs class=""><a href="#tab-sandbox" data-toggle="tab">
            <i class="fa fa-bug text-warning"></i> {{ text_tab_sandbox }}</a>
    </li>
</ul>

<div class="tab-content">
    
    <div class="tab-pane active" id="tab-general"></div>

    <div class="tab-pane" id="tab-order_status">

        <div class="hide"> 
            {{ forms.Group_onoffswitch('setting[order_status][system]', setting.order_status.system, 
            text_payment_tab_order_status_system, text_help_payment_tab_order_status_system) }}
        </div>
        

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="control-label">{{ text_payment_tab_order_status_preprocessing }}</label>
                </div>
                <div class="panel-body">
                    {{ forms.Select(order_statuses_, 'order_status_id', 'name', 'setting[order_status][preprocessing]', setting.order_status.preprocessing) }}
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label class="control-label">{{ text_payment_tab_order_status_preprocessing }}</label>
                </div>
                <div class="panel-body">
                    {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][processing]', setting.order_status.processing) }}
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-info complete required">
                <div class="panel-heading">
                    <label class="control-label">{{ text_payment_tab_order_status_complete }}</label>
                </div>
                <div class="panel-body">
                    {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][complete]', setting.order_status.complete, '', true) }}
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-info failed required">
                <div class="panel-heading ">
                    <label class="control-label">{{ text_payment_tab_order_status_failed }}</label>
                </div>
                <div class="panel-body">
                    {{ forms.Select(order_statuses, 'order_status_id', 'name', 'setting[order_status][failed]', setting.order_status.failed, '', true) }}
                </div>
            </div>
        </div>
        
    </div>

    <div class="tab-pane" id="tab-view">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ text_translate_name }}</label>
            <div class="col-sm-10">
                {% for language in languages %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}">
                        </span>
                        <input name="setting[translate][{{ language.language_id }}][name]" 
                               value="{{ setting.translate[language.language_id].name }}" class="form-control">
                    </div>
                {% endfor %}                
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{ text_translate_description }}</label>
            <div class="col-sm-10">
                {% for language in languages %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}">
                        </span>
                        <input name="setting[translate][{{ language.language_id }}][description]" 
                               value="{{ setting.translate[language.language_id].name }}" class="form-control">
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-sandbox"></div>
</div>
<style>
    #tab-order_status div.complete{
        border-color: #d0ead0;

    }
</style>


